<div class="dialog-content" [ngClass]="{dark: darkMode}">
  <h2 mat-dialog-title [ngClass]="{dark2: darkMode}">My skills</h2>
  <mat-dialog-content>
    <p [ngClass]="{dark3: darkMode}">I've completed courses and worked on my projects using:        </p>
    <p class="skill-list" [ngClass]="{dark2: darkMode}">JavaScript, Angular, HTML/CSS, Bootstrap, and Material Design.</p>
    <p [ngClass]="{dark3: darkMode}">Currently I'm learning and developing my skills in:</p>
    <p class="skill-list" [ngClass]="{dark2: darkMode}">React.</p>
    <p [ngClass]="{dark3: darkMode}">Additionally, to grasp a better understanding of full-stack applications, I've worked with:</p>
    <p class="skill-list" [ngClass]="{dark2: darkMode}">Firebase, MongoDB, Express, and Node.js.</p>
    <p [ngClass]="{dark3: darkMode}">Apart from that, due to my work, I've gained experience with:</p>
    <p class="skill-list" [ngClass]="{dark2: darkMode}">SQL, Excel, and over three years of client-related experience.</p>
  </mat-dialog-content>
  <mat-dialog-actions class="custom-dialog-actions">
    <button mat-button (click)="closeDialog()" [ngClass]="{dark4: darkMode}">Close</button>
  </mat-dialog-actions>
</div>
