<div class="dialog-content">
  <h2 mat-dialog-title>My skills</h2>
  <mat-dialog-content>
    <p>I've completed courses and worked on my projects using:</p>
    <p class="skill-list">JavaScript, Angular, HTML/CSS, Bootstrap, Materials.</p>
    <p>Additionally to graps better underestanding of full stack applications:</p>
    <p class="skill-list">Firebase, MongoDB, Express, NodeJS</p>
    <p>Apart from that, because of my work, I've experienced work with:</p>
    <p class="skill-list">SQL, Excel and over 3 years of client related experience.</p>
  </mat-dialog-content>
  <mat-dialog-actions class="custom-dialog-actions">
    <button mat-button (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
</div>
