.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Rubik', sans-serif;
  padding: 50px 0px 50px 0px;
  transition: 0.3s;
}
.body-cv{
  box-shadow: 0 0 20px grey;
  width: 90%;
  max-width: 1100px;
  margin-top: 100px;
  transition: 0.3s;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 30px 55px;
  transition: 0.3s;
}
.left-side{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.name{
  font-size: 42px;
  margin-bottom: 15px;
  margin: 20px 0px;
}
.job-title{
  font-size: 16px;
  color: rgb(121, 121, 121);
  transition: 0.3s;
}
.address-details{
  letter-spacing: 0.5px;
}
.address-line{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
.address-left{
  display: flex; 
  align-items: center;
 
}
.address-icon {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.about-me{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px 55px;
  transition: 0.3s;
}
.about-title{
  font-size: 26px;
  font-weight: 500;
}
.about-desc{
  font-size: 16px;
  transition: 0.3s;
}
.main{
  padding: 30px 55px;
  transition: 0.3s;
}
.section-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 26px;
  font-weight: 500;
}
.section-icon {
  margin-right: 10px;
  width: 35px;
  height: 35px;
  vertical-align: middle;
}
.subsec-title{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
.subsec-desc{
  margin-top: 5px;
  font-size: 15px;
  transition: 0.3s;
}
.work-date{
  font-weight: 400;
}
.subsec-job{
  font-size: 15px;
  margin-bottom: 5px;
}

.dark{
  background-color: rgb(41, 41, 41);
}
.dark2{
  background-color: rgb(49, 49, 49);
  color: white !important;
}
.dark3{
  box-shadow: 0 0 20px rgb(22, 22, 22);
}
.dark4{
  color: rgb(201, 201, 201);
}

@media (max-width: 780px) {
  .header{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .header,
  .about-me,
  .main{
    padding: 30px 25px;
  }
}
@media(max-width: 550px) {
  .body-cv{
    box-shadow: none;
    width: 100%;
    max-width: 1100px;
    margin-top: 100px;
  }
  .name{
    font-size: 36px;
  }
  .address-line{
    gap: 5px;
    margin-bottom: 10px;
  }
  .section-title,
  .about-title{
    font-size: 24px;
  }
  .subsec-title,
  .about-desc{
    font-size: 14px;
  }
  .subsec-desc{
    font-size: 14px;
  }
}
@media (max-width: 333px) {
  .name{
    font-size: 30px;
    margin-bottom: 15px;
    margin: 5px 0px;
  }
  .address-line{
    flex-direction: column;
    align-items: flex-start;
  }
}