<div class="container" [ngClass]="{dark: darkMode}">
  <div class="left-side" *ngIf="!darkMode">
    <h2 mat-dialog-title [ngClass]="{active: selectedTab1 === true}" (click)="showTab1()">About me</h2>
    <hr>
    <h2 mat-dialog-title [ngClass]="{active: selectedTab2}" (click)="showTab2()">Experience</h2>
    <hr>
    <h2 mat-dialog-title [ngClass]="{active: selectedTab3}" (click)="showTab3()">My skills</h2>
  </div>
  <div class="left-side" *ngIf="darkMode">
    <h2 mat-dialog-title [ngClass]="{dark2: selectedTab1 === true}" (click)="showTab1()">About me</h2>
    <hr>
    <h2 mat-dialog-title [ngClass]="{dark2: selectedTab2}" (click)="showTab2()">Experience</h2>
    <hr>
    <h2 mat-dialog-title [ngClass]="{dark2: selectedTab3}" (click)="showTab3()">My skills</h2>
  </div>
  <div class="separator"></div>
  <div class="right-side">
    <div [@fadeInOut] *ngIf="selectedTab1">
      <mat-dialog-content>
        <p class="skill-list" [ngClass]="{dark2: darkMode}">Front-end</p>
        <p class="desc-one" [ngClass]="{dark3: darkMode}">Coding is fun for me; I enjoy building applications and resolving issues. My goal is to genuinely enjoy my work. That's why I've figured out it would be great to do it professionally.</p>
        <p class="skill-list" [ngClass]="{dark2: darkMode}">What's my goal.</p>
        <p class="desc-one" [ngClass]="{dark3: darkMode}">Eventually, I want to work as a developer. I believe it's something that requires a lot of practice to be really good at. That's why expanding my knowledge all the time - currently im learning <b>React</b>. Eventually, over time, I would like to start my journey with backend languages.
        </p>
        <p class="skill-list" [ngClass]="{dark2: darkMode}">Write to me at:</p>
        <p class="desc-one" [ngClass]="{dark3: darkMode}">michalmatyka194@gmail.com</p>
      </mat-dialog-content>
    </div>
    <div [@fadeInOut] *ngIf="selectedTab2">
      <mat-dialog-content>
        <p class="skill-list" [ngClass]="{dark2: darkMode}">Configuration Analyst</p>
        <p class="desc-one" [ngClass]="{dark3: darkMode}">
          In this role, I'm implementing websites in the internal environment for our clients. This is a highly technical role where I cooperate with System Analysts and use their documentation to build a product requested by the client. This process involves implementing, conducting unit tests, going through a full testing phase, and finally reaching production. It covers the entire Software Development Life Cycle (SDLC).
        </p>
        <p class="skill-list" [ngClass]="{dark2: darkMode}">Pensions Administrator Entry</p>
        <p class="desc-one" [ngClass]="{dark3: darkMode}">
          In this role, my work was more diverse, and because of that, I gained general soft and hard skills. For example, I worked with SQL data reports, managed databases, performed calculations to increase our client's pensions, edited and provided access to documents held by the company for the client's members while adhering to GDPR laws.
        </p>
      </mat-dialog-content>
    </div>
    <div [@fadeInOut] *ngIf="selectedTab3">
      <mat-dialog-content>
        <p [ngClass]="{dark3: darkMode}">I've completed courses and worked on my projects using:        </p>
        <p class="skill-list" [ngClass]="{dark2: darkMode}">JavaScript, Angular, React, HTML/CSS, Bootstrap, and Material Design.</p>
        <p [ngClass]="{dark3: darkMode}">Currently I'm learning and developing my skills in:</p>
        <p class="skill-list" [ngClass]="{dark2: darkMode}">React.</p>
        <p [ngClass]="{dark3: darkMode}">Additionally, to grasp a better understanding of full-stack applications, I've worked with:</p>
        <p class="skill-list" [ngClass]="{dark2: darkMode}">Firebase, MongoDB, Express, and Node.js.</p>
        <p [ngClass]="{dark3: darkMode}">Apart from that, due to my work, I've gained experience with:</p>
        <p class="skill-list" [ngClass]="{dark2: darkMode}">SQL, Excel, and over three years of client-related experience.</p>
      </mat-dialog-content>
    </div>
    <mat-dialog-actions class="custom-dialog-actions">
      <button mat-button (click)="closeDialog()" [ngClass]="{dark4: darkMode}">Close</button>
    </mat-dialog-actions>
  </div>
</div>