<div class="dialog-content" [ngClass]="{dark: darkMode}">
  <h2 mat-dialog-title [ngClass]="{dark2: darkMode}">{{ data.title }}</h2>
  <mat-dialog-content>
    <li *ngIf="data.contentLine1" [ngClass]="{dark3: darkMode}">{{ data.contentLine1}}</li>
    <li *ngIf="data.contentLine2" [ngClass]="{dark3: darkMode}">{{ data.contentLine2}}</li>
    <li *ngIf="data.contentLine3" [ngClass]="{dark3: darkMode}">{{ data.contentLine3}}</li>
    <li *ngIf="data.contentLine4" [ngClass]="{dark3: darkMode}">{{ data.contentLine4}}</li>
    <li *ngIf="data.contentLine5" [ngClass]="{dark3: darkMode}">{{ data.contentLine5}}</li>
    <li *ngIf="data.contentLine6" [ngClass]="{dark3: darkMode}">{{ data.contentLine6}}</li>
  </mat-dialog-content>
  <mat-dialog-actions class="custom-dialog-actions">
    <button mat-button (click)="closeDialog()" [ngClass]="{dark4: darkMode}">Close</button>
  </mat-dialog-actions>
</div>
