<div class="container" [ngClass]="{dark: darkMode}"> 
  <div class="heading">
    <h1 [ngClass]="{dark2: darkMode}">Angular <img class="icon" src="assets/angular-icon.svg">
      <span [ngClass]="{dark3: darkMode}">My main projects</span>
    </h1>
  </div>
    <div class="animation-group" 
        [ngClass]="runAnimation? 'animation' : 'hidden'">
<!-- ANGULAR -->
      <div class="project-element" 
           [ngClass]="{dark5: darkMode}"
           *ngFor="let project of projectsA">
        <div class="left-side">
          <a [href]="project.live" target=”_blank”>
            <img class="icon-project" [src]="project.img">
          </a>
        </div>
        <div class="right-side">
          <div class="title" style="margin-bottom: 10px;">
            {{project.title}}
          </div>
          <div class="desc" 
               [ngClass]="{dark3: darkMode}">
               {{project.desc}}
          </div>
          <div class="tech-used-icons" >
            <img class="icon" [src]="project.icons.icon1">
            <img class="icon" [src]="project.icons.icon2">
            <img class="icon" 
                *ngIf="project.icons.icon3" 
                [src]="project.icons.icon3">
            <img class="icon" 
                *ngIf="project.icons.icon4" 
                [src]="project.icons.icon4">
            <img class="icon" 
                *ngIf="project.icons.icon5" 
                [src]="project.icons.icon5">
          </div>
          <div class="links">
            <div class="footer">
              <div>
                <a [href]="project.code" target=”_blank”>
                  <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                    <img class="footer-icon" src="assets/github-icon.svg" 
                    *ngIf="!darkMode">
                    <img class="footer-icon" src="assets/github-icon-light.svg" *ngIf="darkMode">
                    <p [ngClass]="{dark2: darkMode}">Code</p>
                  </button>
                </a>
              </div>
              <div>
                <a [href]="project.live" target=”_blank”>
                  <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                    <img class="footer-icon" src="assets/play-icon.svg"
                    *ngIf="!darkMode">
                    <img class="footer-icon" src="assets/play-icon-light.svg"
                    *ngIf="darkMode">
                    <p [ngClass]="{dark2: darkMode}">Demo</p>
                  </button>
                </a>
              </div>
              <div>
                <button class="footer-button" mat-button 
                        (click)="openDialog(project.dialog)"
                        [ngClass]="{dark6: darkMode}">
                  <img class="footer-icon" src="assets/info-icon.png"
                  *ngIf="!darkMode">
                  <img class="footer-icon" src="assets/info-icon-light.png"
                  *ngIf="darkMode">
                  <p [ngClass]="{dark2: darkMode}">Details</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="heading">
    <h1 [ngClass]="{dark2: darkMode}">React <img class="icon" src="assets/react-icon.svg">
      <span [ngClass]="{dark3: darkMode}">First project</span>
    </h1>
  </div>

<div class="animation-group" 
[ngClass]="runAnimation? 'animation' : 'hidden'">
<!-- REACT -->
        <div class="project-element" 
            [ngClass]="{dark5: darkMode}"
            *ngFor="let project of projectsR">
          <div class="left-side">
            <a [href]="project.live" target=”_blank”>
              <img class="icon-project" [src]="project.img">
            </a>
          </div>
          <div class="right-side">
            <div class="title" style="margin-bottom: 10px;">
              {{project.title}}
            </div>
            <div class="desc" 
                  [ngClass]="{dark3: darkMode}">
                  {{project.desc}}
            </div>
            <div class="tech-used-icons" >
              <img class="icon" [src]="project.icons.icon1">
              <img class="icon" [src]="project.icons.icon2">
              <img class="icon" 
                  *ngIf="project.icons.icon3" 
                  [src]="project.icons.icon3">
              <img class="icon" 
                  *ngIf="project.icons.icon4" 
                  [src]="project.icons.icon4">
              <img class="icon" 
                  *ngIf="project.icons.icon5" 
                  [src]="project.icons.icon5">
            </div>
            <div class="links">
              <div class="footer">
                <div>
                  <a [href]="project.code" target=”_blank”>
                    <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                      <img class="footer-icon" src="assets/github-icon.svg" 
                      *ngIf="!darkMode">
                      <img class="footer-icon" src="assets/github-icon-light.svg" *ngIf="darkMode">
                      <p [ngClass]="{dark2: darkMode}">Code</p>
                    </button>
                  </a>
                </div>
                <div>
                  <a [href]="project.live" target=”_blank”>
                    <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                      <img class="footer-icon" src="assets/play-icon.svg"
                      *ngIf="!darkMode">
                      <img class="footer-icon" src="assets/play-icon-light.svg"
                      *ngIf="darkMode">
                      <p [ngClass]="{dark2: darkMode}">Demo</p>
                    </button>
                  </a>
                </div>
                <div>
                  <button class="footer-button" mat-button 
                          (click)="openDialog(project.dialog)"
                          [ngClass]="{dark6: darkMode}">
                    <img class="footer-icon" src="assets/info-icon.png"
                    *ngIf="!darkMode">
                    <img class="footer-icon" src="assets/info-icon-light.png"
                    *ngIf="darkMode">
                    <p [ngClass]="{dark2: darkMode}">Details</p>
                  </button>
                </div>
              </div>
            </div>
          </div>
   </div>
</div>