<div class="container" [ngClass]="{dark: darkMode}">
  <div class="heading">
    <h1 [ngClass]="{dark2: darkMode}">Angular
      <span [ngClass]="{dark3: darkMode}">My main projects</span>
    </h1>
  </div>
  <!-- project 3 -->
  <div class="project-element" [ngClass]="{dark5: darkMode}">
    <div class="left-side">
      <a href="http://potemaki.s3-website.eu-north-1.amazonaws.com" target=”_blank”>
        <img class="icon-project" src="assets/projects/posts-app.png">
      </a>
    </div>
    <div class="right-side">
      <div class="title" style="margin-bottom: 10px;">Posts App</div>
      <div class="desc" [ngClass]="{dark3: darkMode}">Full-Stack Application, where we can add posts and many more. This was created on both front-end and backend.
      </div>
      <div class="tech-used-icons">
        <img class="icon" src="assets/js-icon.svg">
        <img class="icon" src="assets/angular-icon.svg">
        <img class="icon" src="assets/mongo-icon.svg">
        <img class="icon" src="assets/express-icon.svg">
        <img class="icon" src="assets/nodejs-icon.svg">
      </div>
      <div class="links">
        <div class="footer">
          <div>
            <a href="https://github.com/PotemAki/posts-app" target=”_blank”>
              <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                <img class="footer-icon" src="assets/github-icon.svg" 
                *ngIf="!darkMode">
                <img class="footer-icon" src="assets/github-icon-light.svg" *ngIf="darkMode">
                <p [ngClass]="{dark2: darkMode}">Code</p>
              </button>
            </a>
            
          </div>
          <div>
            <a href="http://potemaki.s3-website.eu-north-1.amazonaws.com" target=”_blank”>
              <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                <img class="footer-icon" src="assets/play-icon.svg"
                *ngIf="!darkMode">
                <img class="footer-icon" src="assets/play-icon-light.svg"
                *ngIf="darkMode">
                <p [ngClass]="{dark2: darkMode}">Demo</p>
              </button>
            </a>
          </div>
          <div>
            <button class="footer-button" mat-button (click)="openDialogVariant10()" [ngClass]="{dark6: darkMode}">
              <img class="footer-icon" src="assets/info-icon.png"
              *ngIf="!darkMode">
              <img class="footer-icon" src="assets/info-icon-light.png"
              *ngIf="darkMode">
              <p [ngClass]="{dark2: darkMode}">Details</p>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
  <!-- project 4 -->
  <div class="project-element" [ngClass]="{dark5: darkMode}">
    <div class="left-side">
      <a href="https://potemaki.github.io/apps/todo" target=”_blank”>
        <img class="icon-project" src="assets/projects/apps-app.png">
      </a>
    </div>
    <div class="right-side">
      <div class="title" style="margin-bottom: 10px;">Apps</div>
      <div class="desc" [ngClass]="{dark3: darkMode}">Application with few mini apps inside; Reactive ToDo, Convert-Values, Generate Color and Weather App.
      </div>
      <div class="tech-used-icons">
        <img class="icon" src="assets/js-icon.svg">
        <img class="icon" src="assets/angular-icon.svg">

      </div>
      <div class="links">
        <div class="footer">
          <div>
            <a href="https://github.com/PotemAki/apps" target=”_blank”>
              <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                <img class="footer-icon" src="assets/github-icon.svg" 
                *ngIf="!darkMode">
                <img class="footer-icon" src="assets/github-icon-light.svg" *ngIf="darkMode">
                <p [ngClass]="{dark2: darkMode}">Code</p>
              </button>
            </a>
            
          </div>
          <div>
            <a href="https://potemaki.github.io/apps/todo" target=”_blank”>
              <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                <img class="footer-icon" src="assets/play-icon.svg"
                *ngIf="!darkMode">
                <img class="footer-icon" src="assets/play-icon-light.svg"
                *ngIf="darkMode">
                <p [ngClass]="{dark2: darkMode}">Demo</p>
              </button>
            </a>
          </div>
          <div>
            <button class="footer-button" mat-button (click)="openDialogVariant3()" [ngClass]="{dark6: darkMode}">
              <img class="footer-icon" src="assets/info-icon.png"
              *ngIf="!darkMode">
              <img class="footer-icon" src="assets/info-icon-light.png"
              *ngIf="darkMode">
              <p [ngClass]="{dark2: darkMode}">Details</p>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
  <!-- project 1 -->
  <div class="project-element" [ngClass]="{dark5: darkMode}">
      <div class="left-side">
        <a href="https://potemaki.github.io/generate-cv/generate-app#/generate" target=”_blank”>
          <img class="icon-project" src="assets/projects/generate-app.png">
        </a>
      </div>
      <div class="right-side">
        <div class="title">CV Generator</div>
        <div class="desc" [ngClass]="{dark3: darkMode}">CV Generator let us build application and download it in PDF. 
        </div>
        <div class="tech-used-icons">
          <img class="icon" src="assets/js-icon.svg">
          <img class="icon" src="assets/angular-icon.svg">
          <img class="icon" src="assets/bootstrap-icon.svg">
        </div>
        <div class="links">
          <div class="footer">
            <div>
              <a href="https://github.com/PotemAki/generate-cv" target=”_blank”>
                <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                  <img class="footer-icon" src="assets/github-icon.svg" 
                  *ngIf="!darkMode">
                  <img class="footer-icon" src="assets/github-icon-light.svg" *ngIf="darkMode">
                  <p [ngClass]="{dark2: darkMode}">Code</p>
                </button>
              </a>
              
            </div>
            <div>
              <a href="https://potemaki.github.io/generate-cv/generate-app#/generate" target=”_blank”>
                <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                  <img class="footer-icon" src="assets/play-icon.svg"
                  *ngIf="!darkMode">
                  <img class="footer-icon" src="assets/play-icon-light.svg"
                  *ngIf="darkMode">
                  <p [ngClass]="{dark2: darkMode}">Demo</p>
                </button>
              </a>
            </div>
            <div>
              <button class="footer-button" mat-button (click)="openDialogVariant1()" [ngClass]="{dark6: darkMode}">
                <img class="footer-icon" src="assets/info-icon.png"
                *ngIf="!darkMode">
                <img class="footer-icon" src="assets/info-icon-light.png"
                *ngIf="darkMode">
                <p [ngClass]="{dark2: darkMode}">Details</p>
              </button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- project 2 -->
  <div class="project-element" [ngClass]="{dark5: darkMode}">
    <div class="left-side">
      <a href="https://potemaki.github.io/login-app/login-app#/auth" target="_blank">
        <img class="icon-project" src="assets/projects/login-app.png">
      </a>
    </div>
    <div class="right-side">
      <div class="title">Login App</div>
      <div class="desc" [ngClass]="{dark3: darkMode}">Login Application let us simulate  real user experience mechanism.
      </div>
      <div class="tech-used-icons">
        <img class="icon" src="assets/js-icon.svg">
        <img class="icon" src="assets/angular-icon.svg">
        <img class="icon" src="assets/bootstrap-icon.svg">
        <img class="icon" src="assets/firebase-icon.svg">
      </div>
      <div class="links">
        <div class="footer">
          <div>
            <a href="https://github.com/PotemAki/login-app" target=”_blank”>
              <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                <img class="footer-icon" src="assets/github-icon.svg" 
                *ngIf="!darkMode">
                <img class="footer-icon" src="assets/github-icon-light.svg" *ngIf="darkMode">
                <p [ngClass]="{dark2: darkMode}">Code</p>
              </button>
            </a>
          </div>
          <div>
            <a href="https://potemaki.github.io/login-app/login-app#/auth" target="_blank">
              <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                <img class="footer-icon" src="assets/play-icon.svg"
                *ngIf="!darkMode">
                <img class="footer-icon" src="assets/play-icon-light.svg"
                *ngIf="darkMode">
                <p [ngClass]="{dark2: darkMode}">Demo</p>
              </button>
            </a>
          </div>
          <div>
            <button class="footer-button" mat-button (click)="openDialogVariant2()" [ngClass]="{dark6: darkMode}">
              <img class="footer-icon" src="assets/info-icon.png"
              *ngIf="!darkMode">
              <img class="footer-icon" src="assets/info-icon-light.png"
              *ngIf="darkMode">
              <p [ngClass]="{dark2: darkMode}">Details</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div #appJSProjects></div>
  <div class="heading" >
    <h1 [ngClass]="{dark2: darkMode}">JavaScript
      <span [ngClass]="{dark3: darkMode}">Smaller Projects</span>
    </h1>
  </div>
  <div class="one-row-js">
    <!-- project JS 1 -->
    <div class="project-element-js" [ngClass]="{dark5: darkMode}">
      <div class="left-side-js">
        <a href="https://potemaki.github.io/Rock-Paper-Scissors/" target=”_blank”>
          <img class="icon-project" src="assets/projects/js-rock-papper-scissors.png">
        </a>
      </div>
      <div class="right-side-js">
        <div class="title">Rock Paper Scissors</div>
        <div class="desc" [ngClass]="{dark3: darkMode}">Let us play Rock Paper Scissors game.
        </div>
        <div class="tech-used-icons">
          <img class="icon" src="assets/js-icon.svg">
          <img class="icon" src="assets/html-icon.svg">
          <img class="icon" src="assets/css3-icon.svg">
        </div>
        <div class="links">
          <div class="footer">
            <div>
              <a href="https://github.com/PotemAki/Rock-Paper-Scissors" target=”_blank”>
                <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                  <img class="footer-icon" src="assets/github-icon.svg" 
                  *ngIf="!darkMode">
                  <img class="footer-icon" src="assets/github-icon-light.svg" *ngIf="darkMode">
                  <p [ngClass]="{dark2: darkMode}">Code</p>
                </button>
              </a>
            </div>
            <div>
              <a href="https://potemaki.github.io/Rock-Paper-Scissors/" target=”_blank”>
                <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                  <img class="footer-icon" src="assets/play-icon.svg"
                  *ngIf="!darkMode">
                  <img class="footer-icon" src="assets/play-icon-light.svg"
                  *ngIf="darkMode">
                  <p [ngClass]="{dark2: darkMode}">Demo</p>
                </button>
              </a>
            </div>
            <div>
              <button class="footer-button" mat-button (click)="openDialogVariant5()" [ngClass]="{dark6: darkMode}">
                <img class="footer-icon" src="assets/info-icon.png"
                *ngIf="!darkMode">
                <img class="footer-icon" src="assets/info-icon-light.png"
                *ngIf="darkMode">
                <p [ngClass]="{dark2: darkMode}">Details</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- project JS 2 -->
    <div class="project-element-js" [ngClass]="{dark5: darkMode}">
      <div class="left-side-js">
        <a href="https://potemaki.github.io/Calculator/" target=”_blank”>
          <img class="icon-project" src="assets/projects/js-calculator.png">
        </a>
      </div>
      <div class="right-side-js">
        <div class="title">Calculator</div>
        <div class="desc" [ngClass]="{dark3: darkMode}">Basic calculator.
        </div>
        <div class="tech-used-icons">
          <img class="icon" src="assets/js-icon.svg">
          <img class="icon" src="assets/html-icon.svg">
          <img class="icon" src="assets/css3-icon.svg">
        </div>
        <div class="links">
          <div class="footer">
            <div>
              <a href="https://github.com/PotemAki/Calculator" target=”_blank”>
                <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                  <img class="footer-icon" src="assets/github-icon.svg" 
                  *ngIf="!darkMode">
                  <img class="footer-icon" src="assets/github-icon-light.svg" *ngIf="darkMode">
                  <p [ngClass]="{dark2: darkMode}">Code</p>
                </button>
              </a>
            </div>
            <div>
              <a href="https://potemaki.github.io/Calculator/" target=”_blank”>
                <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                  <img class="footer-icon" src="assets/play-icon.svg"
                  *ngIf="!darkMode">
                  <img class="footer-icon" src="assets/play-icon-light.svg"
                  *ngIf="darkMode">
                  <p [ngClass]="{dark2: darkMode}">Demo</p>
                </button>
              </a>
            </div>
            <div>
              <button class="footer-button" mat-button (click)="openDialogVariant6()" [ngClass]="{dark6: darkMode}">
                <img class="footer-icon" src="assets/info-icon.png"
                *ngIf="!darkMode">
                <img class="footer-icon" src="assets/info-icon-light.png"
                *ngIf="darkMode">
                <p [ngClass]="{dark2: darkMode}">Details</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="one-row-js">
    <!-- project JS 4 -->
    <div class="project-element-js" [ngClass]="{dark5: darkMode}">
      <div class="left-side-js">
        <a href="https://potemaki.github.io/StopWatch/" target=”_blank”>
          <img class="icon-project" src="assets/projects/js-stopwatch.png">
        </a>
      </div>
      <div class="right-side-js">
        <div class="title">StopWatch</div>
        <div class="desc" [ngClass]="{dark3: darkMode}">Measure the time.
        </div>
        <div class="tech-used-icons">
          <img class="icon" src="assets/js-icon.svg">
          <img class="icon" src="assets/html-icon.svg">
          <img class="icon" src="assets/css3-icon.svg">
        </div>
        <div class="links">
          <div class="footer">
            <div>
              <a href="https://github.com/PotemAki/StopWatch" target=”_blank”>
                <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                  <img class="footer-icon" src="assets/github-icon.svg" 
                  *ngIf="!darkMode">
                  <img class="footer-icon" src="assets/github-icon-light.svg" *ngIf="darkMode">
                  <p [ngClass]="{dark2: darkMode}">Code</p>
                </button>
              </a>
            </div>
            <div>
              <a href="https://potemaki.github.io/StopWatch/" target=”_blank”>
                <button class="footer-button" mat-button [ngClass]="{dark6: darkMode}">
                  <img class="footer-icon" src="assets/play-icon.svg"
                  *ngIf="!darkMode">
                  <img class="footer-icon" src="assets/play-icon-light.svg"
                  *ngIf="darkMode">
                  <p [ngClass]="{dark2: darkMode}">Demo</p>
                </button>
              </a>
            </div>
            <div>
              <button class="footer-button" mat-button (click)="openDialogVariant8()" [ngClass]="{dark6: darkMode}">
                <img class="footer-icon" src="assets/info-icon.png"
                *ngIf="!darkMode">
                <img class="footer-icon" src="assets/info-icon-light.png"
                *ngIf="darkMode">
                <p [ngClass]="{dark2: darkMode}">Details</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
